{
    "presets": [
      ["env", {
        "targets": {
          "node": "current"
        }
      }]
    ],
    "env": {
      "test": {
        "plugins": ["istanbul", "add-module-exports"]
      }
    }
  }